/* line 1, ../sass/mystyle.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #84e184;
}

/* line 9, ../sass/mystyle.scss */
.navbar-brand {
  position: inherit;
  color: blue;
  margin-left: 0px;
}

/* line 15, ../sass/mystyle.scss */
.navbar-text {
  display: block;
  position: inherit;
  width: 800px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 300px;
  color: blue;
}

/* line 25, ../sass/mystyle.scss */
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: underline;
  cursor: pointer;
}

/* line 30, ../sass/mystyle.scss */
.navbar-nav {
  float: right;
  margin: 0;
}

/* line 35, ../sass/mystyle.scss */
.region-header {
  width: 125%;
  padding-bottom: 10%;
  background-image: url("/images/open-houseimage.gif");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 43, ../sass/mystyle.scss */
.field--item img {
  padding: 3%;
}
